<li>
	{{burger_name}}

	<button class="change-devoured" data-id="{{this.id}}">DEVOUR IT!</button>

	<button class="change-devoured" data-id="{{this.id}}" data-devoured="{{devoured}}">
		{{#if devoured}}{{else}}{{/if}}
	</button>

</li>